@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="/images/Notification.svg" alt="Notification Icon" style="cursor:pointer" />
            <img src="/images/Settings.svg" alt="Settings Icon" style="cursor:pointer" />
            <img src="/images/User.svg" alt="User Icon" style="cursor:pointer" />
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
