@page "/restaurant"
@using FoodDelivery.Client.Models
<link href="/css/styles.css" rel="stylesheet" />


<div class="top-row px-3 py-3">
    <h1 class="top-row-heading">Restaurants</h1>
    <div class="search-bar"></div>
</div>

<div class="restaurant-container">
    
        @foreach (var resturant in AllResturants)
        {
        <div class="rest-card">
            <div class="rest-card-content">
                <img src="@resturant.ImageUrl" alt="@resturant.Name" />
                <h2>@resturant.Name</h2>
            </div>
        </div>
        }
        

    
</div>

@code {
    private List<Restaurant> AllResturants = new()
    {
        new Restaurant { Name = "Pizza hut", ImageUrl="images/PizzaHut.svg"},
        new Restaurant { Name = "Burger King", ImageUrl="images/BurgerKing.svg"},
        new Restaurant { Name = "Hotel Hasara", ImageUrl="images/HotelHasara.svg"},
        new Restaurant { Name = "KFC", ImageUrl="images/KFC.svg"},
        new Restaurant { Name = "Madeena Beach Hotel", ImageUrl="images/Madeena.svg"},

    };

}
